name: CI - Ejecucion de Tests

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout de codigo
      uses: actions/checkout@v4

    - name: Configurar JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Ejecutar tests con Maven
      run: mvn test

    - name: Run Unit Tests Only

      run: mvn test -Dsurefire.excludeJUnit5Engines=cucumber
