name: CI - Ejecucion de Tests

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 1. Configura la versión de Java que requiere tu POM (Java 21)
      - name: Configurar JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      # 2. Ejecuta Maven desde la raíz, donde está el pom.xml
      - name: Run Unit Tests Only
        run: mvn test -Dsurefire.excludeJUnit5Engines=cucumber
        # LÍNEA 'working-directory: backend/' ELIMINADA.
        # Maven se ejecutará en la raíz del repositorio, donde encuentra su pom.xml.